<p>employee-detail works!</p>

<br><br>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form [formGroup]="form" #searchInfo (ngSubmit)="searchForm(searchInfo)">
            <table>
                <tr>
                    <td> <input type="text" formControlName="empId" placeholder="Enter Employee ID" class="form-control"> </td>
                    <!--<td> <input type="text" formControlName="empName" placeholder="Enter Employee Name" class="form-control"> </td> -->
                    <td><button class="btn btn-primary hidden-xs">Search</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<br><br>

 <div class="row">
    <div class="col-md-offset-4 col-md-4">
        <table class="table table-bordered table-striped table-responsive">
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Primary WorkLocation</th>
                <th>Official EmailAddr</th>
                <th>Extn Number</th>
                <th>Mobile Number</th>

            </tr>
            <ng-container *ngFor="let employee of data">
                <tr>
                    <td>{{employee.empId}}</td>
                    <td>{{employee.empName}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.primaryWorkLocation}}</td>
                    <td>{{employee.officialEmailAddr}}</td>
                    <td>{{employee.extensionNumber}}</td>
                    <td>{{employee.mobileNumber}}</td>

                </tr>
            </ng-container>
        </table>
    </div>
</div>












































<!-- <div *ngIf="employeedetails">
    <form [formGroup]="form" #searchInfo (ngSubmit)="searchForm(searchInfo)">
    <input type="text" formControlName="empId" placeholder="EmployeeId" name="search">
    <button (click)="employeeDetails()" class="btn btn-info" style="margin-left: 10px">Search</button>
    <div [hidden]="submitted" style="width: 400px;"></div>
    <mat-table class="lessons-table mat-elevation-z8" mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="employeeId">
            <div *matHeaderCellDef>EmployeeId</div>
            <div  *matCellDef="let lesson">{{employeedetails.empId}}</div>
            </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <td>
      <label><b>Employee Name: </b></label> {{employeedetails.empName}}
    </td>
    <td>
        <label><b>Employee Desigination: </b></label> {{employeedetails.desigination}}
      </td>
    <td>
        <label><b>Employee PrimaryWorkLocation: </b></label> {{employeedetails.primaryWorkLocation}}
      </td>
    <td>
        <label><b>Employee OfficialEmailAddr: </b></label> {{employeedetails.officialEmailAddr}}
      </td>
    <td>
        <label><b>Employee EmailAddr: </b></label> {{employeedetails.emailAddr}}
      </td>
    <td>
        <label><b>Employee ExtensionNumber: </b></label> {{employeedetails.extensionNumber}}
      </td>
    <td>
        <label><b>Employee MobileNumber: </b></label> {{employeedetails.mobileNumber}}
      </td>
    <td>
        <label><b>Employee ProjectName: </b></label> {{employeedetails.projectName}}
      </td>
    <td>
        <label><b>Employee ReportingTo: </b></label> {{employeedetails.reportingTo}}
      </td>
    <td>
        <label><b>Employee DeliveryHead: </b></label> {{employeedetails.deliveryHead}}
      </td>
    <td>
        <label><b>Employee SkillName: </b></label> {{employeedetails.skillName}}
      </td>
    <td>
        <label><b>Employee Experience: </b></label> {{employeedetails.experience}}
      </td>-->
  <!--</mat-table>
</div>
   -->
